fastapi
uvicorn
jinja2
python-multipart
aiofiles
requests
spotipy
Pillow
python-dotenv
gunicorn
sqlalchemy 
alembic 
psycopg2-binary
aiohttp 
asynciosqlalchemy
alembic
aiohttp
asyncio
psycopg2-binary
sqlalchemy
alembic
aiohttp
asyncio
psycopg2-binary
